<div class="flex w-full flex-wrap text-white">
  <div
    class="hover:cursor-pointer"
    (click)="handleOpenViewImageModal(image)"
    *ngFor="let image of handleGetAllImages() | async"
  >
    <div class="relative w-64 h-fit bg-white">
      <img
        class="h-64 w-64 object-cover object-top"
        src="{{ image.url }}"
        loading="lazy"
      />
      <div
        class="absolute bottom-0 flex flex-wrap bg-gray-700 bg-opacity-40 w-full p-2"
      >
        <div>
          <span>{{ image.name }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
